<div class="enrollment-container">
  <h2>Upis studenta na školsku godinu</h2>
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <form [formGroup]="enrollmentForm" (ngSubmit)="enroll()">
    <div class="form-group">
      <label for="studentIndex">Broj indeksa studenta:</label>
      <input id="studentIndex" type="text" formControlName="studentIndex">
      <div *ngIf="enrollmentForm.get('studentIndex')?.invalid && (enrollmentForm.get('studentIndex')?.dirty || enrollmentForm.get('studentIndex')?.touched)">
        <small class="error-text" *ngIf="enrollmentForm.get('studentIndex')?.errors?.['required']">Broj indeksa je obavezno polje.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="studyProgramIds">Studijski programi:</label>
      <select id="studyProgramIds" formControlName="studyProgramIds" multiple>
        <option *ngFor="let program of studyPrograms" [ngValue]="program.id">{{ program.name }}</option>
      </select>
      <div *ngIf="enrollmentForm.get('studyProgramIds')?.invalid && (enrollmentForm.get('studyProgramIds')?.dirty || enrollmentForm.get('studyProgramIds')?.touched)">
        <small class="error-text" *ngIf="enrollmentForm.get('studyProgramIds')?.errors?.['required']">Molimo odaberite bar jedan studijski program.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="year">Godina studija:</label>
      <input id="year" type="number" formControlName="year">
      <div *ngIf="enrollmentForm.get('year')?.invalid && (enrollmentForm.get('year')?.dirty || enrollmentForm.get('year')?.touched)">
        <small class="error-text" *ngIf="enrollmentForm.get('year')?.errors?.['required']">Godina studija je obavezno polje.</small>
        <small class="error-text" *ngIf="enrollmentForm.get('year')?.errors?.['min']">Godina mora biti najmanje 1.</small>
        <small class="error-text" *ngIf="enrollmentForm.get('year')?.errors?.['max']">Godina ne može biti veća od 4.</small>
      </div>
    </div>

    <button type="submit" [disabled]="enrollmentForm.invalid">Upis studenta</button>
  </form>
</div>