<div class="container mt-4">
  <h2>Student History</h2>

  <div *ngIf="studentHistory && studentHistory.length > 0">
     <ul class="course-list">
      <li *ngFor="let course of studentHistory" class="course-item">
        <h3>{{ course.courseName }}</h3>
        <p><strong>ESPB Points:</strong> {{ course.coursesEspbPoints }}</p>
        
        <p><strong>Status:</strong> 
        <span 
            [ngClass]="{
              'badge badge-success': course.status === 'PASSED',
              'badge badge-warning': course.status === 'ENROLLED',
              'badge badge-danger': course.status === 'FAILED'
            }">
            {{ course.status }}
          </span>
        </p>
        <p><strong>Grade:</strong> {{ course.grade || 'N/A' }}</p>
        <p><strong>Points:</strong> {{ course.points }}</p>
        <p><strong>Exam Applications:</strong> {{ course.numberOfExamApplications }}</p>
      </li>
    </ul>
  </div>

  <ng-template #noCourses>
    <p>No history found.</p>
  </ng-template>
</div>