<nav class="navbar">
  <ul>
    <li>
      
    </li>
    
    <ng-container *ngIf="!role">
      <li>
        <a routerLink="/university" routerLinkActive="active">University</a>
      </li>
      <li>
        <a routerLink="/faculties" routerLinkActive="active">Faculty</a>
      </li>
     
      <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ng-container>

    <ng-container *ngIf="role">
      <li><a routerLink="/my-profile" routerLinkActive="active">Profile</a></li>

      <ng-container *ngIf="role === 'STUDENT'">
        <li>
          <a routerLink="/my-courses" routerLinkActive="active">Courses</a>
        </li>
        <li>
          <a routerLink="/my-notifications" routerLinkActive="active"
            >Notifications</a
          >
        </li>
        <li>
          <a routerLink="/my-history" routerLinkActive="active"
            >Academic History</a
          >
        </li>
        <li>
          <a routerLink="/exam-registration" routerLinkActive="active"
            >Exam Registration</a
          >
        </li>
      </ng-container>

      <li *ngIf="role === 'PROFESSOR'">
        <a routerLink="/professor-dashboard" routerLinkActive="active"
          >Professor Dashboard</a
        >
        
        <a routerLink="/manage-courses" routerLinkActive="active"
          >Manage Courses</a>

         <a routerLink="/search-students" routerLinkActive="active"
          >Students</a
        >
      </li>

      <ng-container *ngIf="role === 'ADMIN'">
        <li>
          <a routerLink="/admin/users" routerLinkActive="active">User Management</a>
        </li>
        <li>
          <a routerLink="/admin/study-programs" routerLinkActive="active">Study Programs</a>
        </li>
        <li>
          <a routerLink="/admin/university" routerLinkActive="active">University Administration</a>
        </li>
        <li>
          <a routerLink="/admin/add-user" routerLinkActive="active">Add User</a>
        </li>
      </ng-container>

      <li><a href="/login" (click)="logout()">Logout</a></li>
    </ng-container>
  </ul>
</nav>